# Cache and build files
.packages
.pub/
build/
ios/.generated/
packages
pubspec.lock
.flutter-plugins
.gradle
.dart_tool

# IDE local settings
.atom/
.idea
.vscode/

# Test token
token.json

# MacOS garbage
.DS_Store

