name: Integration tests

on:
  pull_request:
  push:
    branches:
      - '**'

env:
  GOOGLE_APPLICATION_CREDENTIALS: test/service-account.json

jobs:
  build:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: dart-lang/setup-dart@v1
      - name: Load test credentials
        run: |
          echo "${{ secrets.test_service_account }}" | base64 -d - > test/service-account.json
          echo "const apiKey = '${{ secrets.test_api_key }}';" > test/test_config.dart
          echo "const projectId = '${{ secrets.test_project_id }}';" >> test/test_config.dart
          echo "const email = '${{ secrets.test_email }}';" >> test/test_config.dart
          echo "const password = '${{ secrets.test_password }}';" >> test/test_config.dart

      - name: Get dependencies
        run: dart pub get
      - name: Run tests
        run: dart run test
